<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-group">
                <div class="field">
                  <%= form.label :title %>
                  <%= form.text_field :title, :class => 'form-control' %>
                </div>

                <div class="field">
                  <%= form.label :description %>
                  <%= form.text_area :description, :class => 'form-control' %>
                </div>

                <div class="field">
                  <%= form.label :days_to_complete %>
                  <%= form.number_field :days_to_complete, :class => 'form-control' %>
                </div>

                <div class="field">
                  <%= form.label :status %>
                  <%= form.select :status, options_for_select(["Pending","Active","Completed"]), {}, class: "form-control" %>
                </div>


                <%= form.hidden_field :project_id, :value => params[:project_id] %>

                <div class="actions text-right">
                  <%= form.submit :class => 'btn btn-primary' %>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
