<div class="col-md-12">
  <p id="notice"><%= notice %></p>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>My Projects</h1>
      </div>
    </div>
    <br/>
    <div class="row">
      <% @projects.each do |project| %>
        <div class="col-md-6" style="padding-top: 15px;">
          <%= link_to project do %>
            <div class="card" style="width: auto;">
              <div class="container text-right" style="margin-bottom: -20px">
                <br/>
                <% if Date.today.day == (project.created_at + project.days_to_complete.days).day %>
                  <span class="badge badge-pill badge-warning"><b>Due:</b> Today</span>
                <% elsif Date.today < (project.created_at + project.days_to_complete.days) %>
                  <span class="badge badge-pill badge-success">
                    <b>Due:</b>
                  <%= (( (project.created_at + project.days_to_complete.day) - Time.now)/ 24.hours).to_i %>
                    Day(s)
                  </span>
                <% else %>
                  <span class="badge badge-pill badge-danger">
                    <b>Due: </b>
                  <%= ((Time.now - (project.created_at + project.days_to_complete.day))/ 24.hours).to_i   %>
                    Day(s) ago</span>
                <% end %>
              </div>
              <div class="card-body">
                <h2><%= project.title %></h2>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                      <b>Description:</b>
                      <%= project.description %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">

                    </div>
                  </div>
                  <br/>
                  <div class="row">
                    <div class="col-md-12 text-right">
                      <%= link_to 'Edit', edit_project_path(project), :class => 'btn btn-primary btn-round' %>
                      <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger btn-round' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <%end %>
        </div>
      <% end %>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-12 text-right">
        <%= link_to  new_project_path, class: 'btn btn-round btn-info', style: 'box-shadow: 0 1px 1px rgba(0,0,0,0.11),
              0 2px 2px rgba(0,0,0,0.11),
              0 4px 4px rgba(0,0,0,0.11),
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);' do %>
          <%= image_tag('plus.svg', alt: 'Add Project', width: '40px', style: "margin-left: -10px !important; margin-right: -10px;") %>
        <% end %>
      </div>
    </div>
  </div>



</div>