<div class="col-md-12">
  <p id="notice"><%= notice %></p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h1><%= @project.title %></h1>
      </div>
      <div class="col-md-4">
        <strong>Due:</strong>
        <% if Date.today.day == (@project.created_at + @project.days_to_complete.days).day %>
          Today
        <% elsif Date.today < (@project.created_at + @project.days_to_complete.days) %>
          <%= (( (@project.created_at + @project.days_to_complete.day) - Time.now)/ 24.hours).to_i %> Day(s)
        <% else %>
          <%= ((Time.now - (@project.created_at + @project.days_to_complete.day))/ 24.hours).to_i   %> Day(s) ago
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-10">
        <%= @project.description %>
      </div>
    </div>
    <br/>
    <div class="row">
      <% @project.tasks.each do |task| %>
        <div class="col-md-6" style="padding-top: 15px;">
          <div class="card" style="width: auto;">
            <div class="card-body">
                <h2><%= task.title %></h2>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <%= task.description %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <b>Due:</b>
                    <% if Date.today.day == (task.created_at + task.days_to_complete.days).day %>
                      Today
                    <% elsif Date.today < (task.created_at + task.days_to_complete.days) %>
                      <%= (( (task.created_at + task.days_to_complete.day) - Time.now)/ 24.hours).to_i %> Day(s)
                    <% else %>
                      <%= ((Time.now - (task.created_at + task.days_to_complete.day))/ 24.hours).to_i   %> Day(s) ago
                    <% end %>
                  </div>
                </div>
                <br/>
                <div class="row">
                  <div class="col-xl-6 col-md-4 col-xs-2">
                  </div>
                  <div class="col-xl-6 col-md-8 col-xs-10">
                    <%= link_to 'View', task_path(task.id), :class => 'btn btn-info' %>
                    <%= link_to 'Edit', edit_task_path(task.id, project_id: @project.id), :class => 'btn btn-success' %>
                    <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-9 col-xs-3">
    </div>
    <div class="col-sm-1 col-xs-1">
      <%= link_to image_tag('plus.svg', alt: 'Add Task', id: 'plus', :width => '60px', :class => 'btn btn-info', viewBox: "0 0 20 20", style: "currentColor", xmlns: "http://www.w3.org/2000/svg"), new_task_path(project_id: @project.id) %>
    </div>
  </div>

  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
</div>