<!DOCTYPE html>
<html>
<head>
  <title>Project Manager</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
</head>

<body>

<div class="navbar navbar-expand-lg fixed-top" id="navbar" >
  <div class="container" >

      <%= link_to image_tag('house.svg', id: 'home', alt: 'Home', :width => '40px', :class => 'bi bi-house ', viewBox: "0 0 20 20", fill: "currentColor", xmlns: "http://www.w3.org/2000/svg"), root_path %>

  <ul class="navbar-nav navbar-right" style="margin-right: 15px">

      <% if user_signed_in? %>

      <% else %>
      <li class="nav-item d-none d-md-block">
        <%= link_to('Sign Up', new_user_registration_path, :class => "btn btn-sm btn-primary") %>
      </li>
      <% end %>

      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => "btn btn-sm btn-outline-default") %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to('Login', new_user_session_path, :class => "btn btn-sm btn-outline-default") %>
      </li>
      <% end %>
  </ul>

  </div>
</div>

<% if user_signed_in? %>
  <div class="container-fluid" style="padding-top: 50px">
  <% else %>
  <div class="container-fluid" id='gradient' style="padding-top: 50px">
<% end %>
  <div class="row">
    <%= yield %>
  </div>
</div>
<footer class="fixed-bottom" id="navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right">
        <a class="btn btn-round btn-github" href="https://github.com/cwoo107/jira_clone" >
          <%= image_tag('GitHub-Mark-Light-120px-plus.png', alt: 'github', width: '30px', style: "margin-left: -10px !important; margin-right: -10px;") %>
        </a>
        <a class="btn btn-round btn-linkedin" href="https://www.linkedin.com/in/caleb-woods-9041aa137">
          <%= image_tag('linkedin-logo-png-white.png', alt: 'linked in', width: '30px', style: "margin-left: -10px !important; margin-right: -10px;") %>
        </a>
      </div>
    </div>
  </div>
</footer>
</body>

</html>
