<!DOCTYPE html>
<html>
  <head>
    <title>Jira</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
  </head>

  <body>
  <div class="container-fluid" id="navbar">
    <div class="row">
      <div class="col-md-1">
        <%= link_to image_tag('house.svg', id: 'home', alt: 'Home', :width => '40px', :class => 'bi bi-house text-success', viewBox: "0 0 20 20", fill: "currentColor", xmlns: "http://www.w3.org/2000/svg"), root_path %>
      </div>
      <div class="col-md-8 col-sm-0">
      </div>
      <div class="col-md-1 col-sm-1">
        <% if user_signed_in? %>

        <% else %>
          <%= link_to('Sign Up', new_user_registration_path, :class => "btn btn-info") %>
        <% end %>
      </div>
      <div class="col-md-1">
        <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>

        <% else %>
            <%= link_to('Login', new_user_session_path) %>

        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>

  </body>
</html>
